{% load staticfiles %}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>{{ page.title }} | {{ settings.title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ settings.description }}">
    <meta name="author" content="volstudio.pw">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    {% include "include/css.html" %}

</head>
<body class="template-football">

<div class="site-wrapper clearfix">
    <div class="site-overlay"></div>
    <!-- header start -->
    {% include 'include/header.html' %}
    <!-- header end -->

    <!-- page heading start -->
    <div class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1 class="page-heading__title">{{ page.title }}</h1>
                    <ol class="page-heading__breadcrumb breadcrumb">
                        <li><a href="">Главная</a></li>
                        <li class="active">{{ page.title }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- content start -->
    <div class="site-content">
        <div class="container">
            <div class="row">
                <!-- content start -->
                <div class="content col-md-12">
                    <!-- article start -->
                    <article class="card card--lg post post--single">
                        <div class="card__content">
                            <header class="post__header">
                                <h2 class="post__title">{{ page.title }}</h2>
                            </header>
                            <div class="post__content">
                                <p>{{ page.text|safe }}</p>
                            </div>
                        </div>
                    </article>
                    <!-- article end -->
                </div>
                <!-- content end -->
            </div>
        </div>
    </div>
    <!-- content end -->

    <!-- footer start -->
    {% include 'include/footer.html' %}
    <!-- footer end -->
</div>

<!-- js start -->
{% include 'include/js.html' %}
<!-- js end -->

</body>
</html>