{% load staticfiles %}

<meta name="interkassa-verification" content="21ec5217efb4a8dfe32694fba97c15a9"/>

<link rel="shortcut icon" href="{% static 'raindrop/images/raindrop/favicons/favicon.ico' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'raindrop/images/raindrop/favicons/favicon-120.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'raindrop/images/raindrop/favicons/favicon-152.png' %}">
<link href="https://fonts.googleapis.com/css?family=Exo+2:400,700,700i|Roboto:400,400i" rel="stylesheet">

<!-- Preloader CSS -->
<link href="{% static 'raindrop/css/preloader.css' %}" rel="stylesheet">

<!-- Vendor CSS -->
<link href="{% static 'raindrop/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'raindrop/fonts/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'raindrop/fonts/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">
<link href="{% static 'raindrop/vendor/magnific-popup/dist/magnific-popup.css' %}" rel="stylesheet">
<link href="{% static 'raindrop/vendor/slick/slick.css' %}" rel="stylesheet">

<!-- Template CSS-->
<link href="{% static 'raindrop/css/style.css' %}" rel="stylesheet">

<!-- Custom CSS-->
<link href="{% static 'raindrop/css/custom.css' %}" rel="stylesheet">