{% load staticfiles %}

<!-- Vendor JS -->
<script src="{% static 'raindrop/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'raindrop/vendor/jpreloader2/js/jpreloader.js' %}"></script>
<script src="{% static 'raindrop/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'raindrop/vendor/slick/slick.min.js' %}"></script>
<script src="{% static 'raindrop/vendor/svg4everybody/svg4everybody.min.js' %}"></script>
<script src="{% static 'raindrop/vendor/countdown/dest/jquery.countdown.min.js' %}"></script>
<script src="{% static 'raindrop/vendor/easy-pie-chart/dist/jquery.easypiechart.min.js' %}"></script>
<script src="{% static 'raindrop/vendor/magnific-popup/dist/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'raindrop/vendor/custom-select/classie.js' %}"></script>
<script src="{% static 'raindrop/vendor/custom-select/selectFx.js' %}"></script>
<script src="{% static 'raindrop/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'raindrop/vendor/isotope/dist/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'raindrop/vendor/chartjs/chart.min.js' %}"></script>
<script src="{% static 'raindrop/vendor/nouislider/nouislider.min.js' %}"></script>
<script src="{% static 'raindrop/vendor/social-counters/social-counters-api-min.js' %}"></script>
<script src="{% static 'raindrop/vendor/jquery-duotone/jquery.duotone.min.js' %}"></script>
<script src="{% static 'raindrop/vendor/marquee/jquery.marquee.min.js' %}"></script>

<!-- Template JS -->
<script src="{% static 'raindrop/js/init.js' %}"></script>
<script src="{% static 'raindrop/js/custom.js' %}"></script>