{% load staticfiles %}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Счет {{ user.username }} | {{ settings.title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ settings.description }}">
    <meta name="author" content="volstudio.pw">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    {% include "include/css.html" %}

</head>
<body class="template-football">

<div class="site-wrapper clearfix">
    <div class="site-overlay"></div>
    <!-- header start -->
    {% include 'include/header.html' %}
    <!-- header end -->

    <!-- page heading start -->
    <div class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1 class="page-heading__title">Счет</h1>
                    <ol class="page-heading__breadcrumb breadcrumb">
                        <li><a href="{% url 'main:main' %}">Главная</a></li>
                        <li><a href="{% url 'users:profile' pk=request.session.id %}">{{ user.username }}</a></li>
                        <li class="active">Счет</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- content start -->
    <div class="site-content">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <!-- account navigation start -->
                    {% include 'users/nav.html' %}
                    <!-- account navigation end -->
                </div>

                <div class="col-md-8">
                    <div class="card card--has-table">
                        <div class="card__header">
                            <h4>Ваш счет</h4>
                        </div>
                        <div class="card__content">

                            <!-- checkout review order start -->
                            <div class="df-checkout-review-order">
                                <div class="table-responsive">
                                    <table class="df-checkout-review-order-table table">
                                        <tfoot>
                                        <tr class="cart-subtotal">
                                            <th>Занесено денежных средств</th>
                                            <td>
                                                <span class="amount">
                                                    <span class="df-Price-currencySymbol">{{ billing.money }} руб</span>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr class="order-total">
                                            <th>RainDrop бонусы</th>
                                            <td>
                                                <span class="amount">
                                                    <span class="df-Price-currencySymbol" style="color: #f92552;">{{ billing.coins }}</span>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr class="order-total">
                                            <th>Всего монет</th>
                                            <td>
                                                <span class="amount">
                                                    <span class="df-Price-currencySymbol">{{ billing.score }}</span>
                                                </span>
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <!-- checkout review order end -->
                        </div>
                    </div>
                    <!-- cart totals end -->

                    <!-- personal information start -->
                    <div class="card card--has-table" id="billing">
                        <div class="card__header">
                            <h4>Пополнение cчета</h4>
                        </div>
                        <div class="card__content-inner">
                            <form action="{% url 'users:billing_payment' %}" method="post" class="coupon-code-form coupon-code-form--inline">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="coupon-code-form-inner">
                                            <label>Денежных средств (в рублях)</label>
                                            <input type="text" name="ik_am" class="form-control input-sm" placeholder="500">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-primary-inverse btn-block">Пополнить счет</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Cart Review -->
                    <div class="card card--has-table">
                        <div class="card__header">
                            <h4>История пополнения счета</h4>
                        </div>
                        <div class="card__content">
                            <div class="table-responsive">
                                <table class="table shop-table">
                                    <thead>
                                    <tr>
                                        <th class="product__price">#</th>
                                        <th class="product__info">Дата платежа</th>
                                        <th class="product__size">Статус</th>
                                        <th class="product__size">Денежных средств внесено</th>
                                        <th class="product__total">Монет</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for pay in billing_history %}
                                        <tr>
                                            <td class="product__price">
                                                {{ pay.id }}
                                            </td>
                                            <td class="product__info">
                                                <h5 class="product__name">{{ pay.date }}</h5>
                                            </td>
                                            <td class="product__size">
                                                {% if pay.payment_status == 'success' %}
                                                    Проведен
                                                {% elif pay.payment_status == 'fail' %}
                                                    Не проведен
                                                {% elif pay.payment_status == 'canceled' %}
                                                    Отменен
                                                {% elif pay.payment_status == 'proccess' %}
                                                    Обрабатывается
                                                {% endif %}
                                            </td>
                                            <td class="product__size">
                                                {{ pay.money }}
                                            </td>
                                            <td class="product__total">
                                                {{ pay.score }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- post pagination start -->
                    <nav class="post-pagination text-center">
                        <ul class="pagination pagination--sm">
                            {% for num in billing_history.paginator.page_range %}
                                {% if num == billing_history.number %}
                                    <li class="active"><a href="javascript:void(1)">{{ num }}</a></li>
                                {% else %}
                                    <li><a href="{% url 'users:billing' pk=request.session.id %}/?page_billing_history={{ num }}">{{ num }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </nav>
                    <!-- post pagination end -->
                    <!-- Cart Review / End -->
                </div>
                <!-- personal information end -->
            </div>
        </div>
    </div>
</div>
</div>
<!-- content end -->

<!-- footer start -->
{% include 'include/footer.html' %}
<!-- footer end -->
</div>

<!-- js start -->
{% include 'include/js.html' %}
<!-- js end -->

</body>
</html>